<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings />
    <client>
      <endpoint address="sb://[AZURE DOAMIN].servicebus.windows.net/routing"
        behaviorConfiguration="sharedSecretClientCredentials" binding="netTcpRelayBinding"
        contract="AzureSpClient.IMyContract" name="webRelay" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="sharedSecretClientCredentials">
          <callbackDebug includeExceptionDetailInFaults="true"/>
          <transportClientEndpointBehavior credentialType="SharedSecret">
            <clientCredentials>
              <sharedSecret issuerName="owner" issuerSecret="[YOUR AZURE KEY]"/>
            </clientCredentials>
          </transportClientEndpointBehavior>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
